body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #d6e1f0;
  /* color: white; */
  /* background: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  margin: 0;
}

.app {
  background: white;
  width: 300px;
  height: 80%;
  border-radius: 15px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.output {
  background: #3785fe;
  border-radius: 10px;
  height: 100%;
  /* width: fit-content; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.output img {
  width: 100%;
}

.textInput {
  width: calc(100% - 20px);
  margin: 10px 0;
  border: 1px solid lightgrey;
  padding: 10px;
  /* padding-left: 5px; */
}

.inputContainer {
  width: 100%;
}

.inputSection {
  width: 100%;
}

.generateButton {
  width: 100%;
  background: #3785fe;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 0;
}

@media(max-width: 400px) {
  .app {
    width: 250px;
  }
}

.navbar {
  margin: 10px 0;
}

.navbarButtons {
  display: flex;
  justify-content: space-evenly;
}

.navbarIcon {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3785fe;
  text-decoration: none;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #3785fe;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}